/* The navbar overlaps the admin overlay */
.navbar-static-top {
    z-index: 400;
}

/* Position the contextual links */
.div.contextual-links-wrapper{
    right: 10px;
}

/*------------ Node ----------------------
*/

.node-links{
    text-align: right;
    margin-top: 10px;
}

.node-links .btn{
    font-size: 12px;
    padding: 11px 13px;
    text-transform: uppercase;
}

/* Node comments */
.comment ul.list-inline{
    padding-bottom: 0;
    text-align: right;
}

.comment ul.list-inline li{
    border-bottom:  0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.comment-form button[type=submit]{
    display: inline-block;
}

/* Copy from .comment-list .children */
.comment-list .indented {
    margin-left: 0!important;
    padding-left: 40px;
    border-left: 1px solid #DADADA;
    background-repeat: no-repeat;
    background-position: left 20px;
}